
* text=auto eol=lf

# Explicitly force LF for specific ecosystem files to prevent vscode 
Dockerfile text eol=lf
*.sh       text eol=lf
*.py       text eol=lf
*.sql      text eol=lf
*.yaml     text eol=lf
*.yml      text eol=lf
*.json     text eol=lf

# Force no modification for binary files (images etc)
*.png      binary
*.jpg      binary