# Virtual environments
.venv/
venv/
env/
ENV/
.env/

# IDEs
.idea/
.vscode/
*.swp

# Local dataset
dataset_local/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Enviroment variable files.env
*.env
*secrets/
*logs/

# Local Docker files
docker-compose.yml
Dockerfile
Dockerfile.local

kaggle_manager.py

#Ignore all files in src/ except the following
src/*
    !src/__init__.py
    !src/config.py
    !src/extract2.py
    !src/fetch_years.py
    !src/gc.py
    !src/load_raws_bq.py
    !src/parser.py
    !src/transform_to_final.py

